$fundo-verde: #374631

#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50

html, body
  height: 100vh
  width: 100vw

body
  position: relative
  width: 1440px
  height: 1024px
  overflow: scroll
  background-color: $fundo-verde
  z-index: 0
  margin: 42px 0px 0px 0px

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url(../grid-unit.png)
    background-repeat: repeat
    opacity: .2

header
  position: fixed
  top: 0
  left: 0
  display: inline-block
  width: 100vw
  background-color: rgba(0,0,0,.3 )

  // &::before
  //   content: ''
  //   position: absolute
  //   top: 0
  //   left: 0
  //   width: 100%
  //   height: 100%

  &--fixed
    top: 0
    width: 100vw
    box-sizing: border-box
    overflow: hidden
    z-index: 10


h1
  color: #42b983

.header
  position: fixed
  width: 100vw

  &__title
    float: left
    color: #ffffff
    font-weigth: bold

  &__nav
    padding: 10px 30px
    background-color: rgba(0, 0, 0, 0)
    height: 20px


  &__link
    font-weight: bold
    color: #ffffff
    float: right
    padding: 0px 10px

    &.router-link-exact-active
      color: #42b983

// animations

.router-anim-enter-active 
  animation: fadeInRouter .25s


.router-anim-leave-active 
  animation: fadeInRouter .25s reverse


@keyframes fadeIn
  0% 
    opacity: 0
    transform: translateY(-10px)
  
  100%
  opacity: 1
  transform: translateY(0px)

@keyframes fadeInRouter
  0%
    opacity: 0
    transform: translateY(10px)

  100% 
    opacity: 1
    transform: translateY(0px)
