::-webkit-scrollbar {
  width: 0px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  position: relative;
  width: 1450px;
  height: 1000px;
  overflow: scroll;
  background-color: #374631;
  z-index: 0;
  margin: 0px;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../grid-unit.png);
  background-repeat: repeat;
  opacity: .2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
}

header--fixed {
  top: 0;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
}

h1 {
  color: #42b983;
}

.header {
  position: fixed;
  width: 100vw;
}

.header__title {
  float: left;
  color: #ffffff;
  font-weigth: bold;
  padding: 10px 0px;
}

.header__nav {
  padding: 0px 30px;
  background-color: rgba(0, 0, 0, 0);
  height: 40px;
}

.header__link {
  font-weight: bold;
  color: #ffffff;
  float: right;
  padding: 10px 10px;
  text-decoration: none;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
          transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.header__link:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
          transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header__link.router-link-exact-active {
  color: #42b983;
}

.home {
  height: 100%;
  width: 100%;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr (1fr)[15] 7fr;
      grid-template-columns: 7fr repeat(15, 1fr) 7fr;
  -ms-grid-rows: 100px (50px)[15] 100px;
      grid-template-rows: 100px repeat(15, 50px) 100px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
      grid-template-areas: "spctop spctop spctop spctop spctop spctop spctop spctop spctop spctop spctop spctop spctop spctop spctop spctop spctop" "spcleft a1 b1 c1 d1 e1 f1 g1 h1 i1 j1 k1 l1 m1 n1 o1 spcright" "spcleft a2 b2 c2 d2 e2 f2 g2 h2 i2 j2 k2 l2 m2 n2 o2 spcright" "spcleft a3 b3 c3 d3 e3 f3 g3 h3 i3 j3 k3 l3 m3 n3 o3 spcright" "spcleft a4 b4 c4 d4 e4 f4 g4 h4 i4 j4 k4 l4 m4 n4 o4 spcright" "spcleft a5 b5 c5 d5 e5 f5 g5 h5 i5 j5 k5 l5 m5 n5 o5 spcright" "spcleft a6 b6 c6 d6 e6 f6 g6 h6 i6 j6 k6 l6 m6 n6 o6 spcright" "spcleft a7 b7 c7 d7 e7 f7 g7 h7 i7 j7 k7 l7 m7 n7 o7 spcright" "spcleft a8 b8 c8 d8 e8 f8 g8 h8 i8 j8 k8 l8 m8 n8 o8 spcright" "spcleft a9 b9 c9 d9 e9 f9 g9 h9 i9 j9 k9 l9 m9 n9 o9 spcright" "spcleft a10 b10 c10 d10 e10 f10 g10 h10 i10 j10 k10 l10 m10 n10 o10 spcright" "spcleft a11 b11 c11 d11 e11 f11 g11 h11 i11 j11 k11 l11 m11 n11 o11 spcright" "spcleft a12 b12 c12 d12 e12 f12 g12 h12 i12 j12 k12 l12 m12 n12 o12 spcright" "spcleft a13 b13 c13 d13 e13 f13 g13 h13 i13 j13 k13 l13 m13 n13 o13 spcright" "spcleft a14 b14 c14 d14 e14 f14 g14 h14 i14 j14 k14 l14 m14 n14 o14 spcright" "spcleft a15 b15 c15 d15 e15 f15 g15 h15 i15 j15 k15 l15 m15 n15 o15 spcright" "spcbot spcbot spcbot spcbot spcbot spcbot spcbot spcbot spcbot spcbot spcbot spcbot spcbot spcbot spcbot spcbot spcbot";
}

.home__brasil {
  opacity: .3;
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-47%, -50%);
          transform: translate(-47%, -50%);
}

section.f1 {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  grid-area: f1;
  background-image: url(../dot-outline.png);
}

section.c2 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: c2;
  background-image: url(../dot-outline.png);
}

section.d2 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: d2;
  background-image: url(../dot-outline.png);
}

section.e2 {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: e2;
  background-image: url(../dot-outline.png);
}

section.f2 {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  grid-area: f2;
  background-image: url(../dot-outline.png);
}

section.h2 {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
  grid-area: h2;
  background-image: url(../dot-outline.png);
}

section.i2 {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
  grid-area: i2;
  background-image: url(../dot-outline.png);
}

section.j2 {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
  grid-area: j2;
  background-image: url(../dot-outline.png);
}

section.b3 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: b3;
  background-image: url(../dot-outline.png);
}

section.c3 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: c3;
  background-image: url(../dot-outline.png);
}

section.d3 {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: d3;
  background-image: url(../dot-outline.png);
}

section.e3 {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
  grid-area: e3;
  background-image: url(../dot-outline.png);
}

section.f3 {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
  grid-area: f3;
  background-image: url(../dot-outline.png);
}

section.g3 {
  -ms-grid-row: 4;
  -ms-grid-column: 8;
  grid-area: g3;
  background-image: url(../dot-outline.png);
}

section.h3 {
  -ms-grid-row: 4;
  -ms-grid-column: 9;
  grid-area: h3;
  background-image: url(../dot-outline.png);
}

section.i3 {
  -ms-grid-row: 4;
  -ms-grid-column: 10;
  grid-area: i3;
  background-image: url(../dot-outline.png);
}

section.j3 {
  -ms-grid-row: 4;
  -ms-grid-column: 11;
  grid-area: j3;
  background-image: url(../dot-outline.png);
}

section.k3 {
  -ms-grid-row: 4;
  -ms-grid-column: 12;
  grid-area: k3;
  background-image: url(../dot-outline.png);
}

section.l3 {
  -ms-grid-row: 4;
  -ms-grid-column: 13;
  grid-area: l3;
  background-image: url(../dot-outline.png);
}

.dot-fill {
  background-image: url(../dot-fill.png);
}

.dot-outline {
  background-image: url(../dot-outline.png);
}

.router-anim-enter-active {
  -webkit-animation: fadeInRouter .25s;
          animation: fadeInRouter .25s;
}

.router-anim-leave-active {
  animation: fadeInRouter .25s reverse;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
  }
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
  }
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@-webkit-keyframes fadeInRouter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeInRouter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=main.css.map */